// 포스트 생성 폼
#postCreateForm.post-create-form
  .post-create-form-header
  .post-create-form-body
    textarea#post-create-textarea(placeholder="What's up?")
  .post-create-form-bottom
    button#postCreateBtn(disabled="disabled") Submit (Shift+Enter)
