// 컨텐츠
#content
  
  .main-header
    a.back(href="/") Back
    a.title(href="/") 프로젝트 채널
    
  .main-container
    unless isMobileSize
      .main-left-side
    
    .main-body
      +with project
        .panel
          h2.title
            a(href="{{url}}" target="_blank") {{title}}
          p.price {{price}}
          p.desc {{desc}}
          p.url
            a(href="{{url}}" target="_blank") 보러가기
      
          .tags
            span.tag.site {{site}}
            +each tags
              span.tag {{this}}
          
      +createPost
      
      +each posts
        .panel
          h2.name {{text}}
          p.desc {{date}}
          
      
    unless isMobileSize
      .main-right-side
      
