meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, target-densitydpi=device-dpi')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
title programer.io
link(rel='icon' href='/favicon.ico?v=2')
//if lt IE 9
  meta(name="LOWER-THAN-IE9")
